# Ignore virtual environment
venv/
.idea

# Byte-compiled Python files and cache
__pycache__/
*.pyc

# Ignore entire datasets folder
datasets/

# Ignore logs and temporary files
*.log
*.tmp
*.swp

# MacOS-specific files
.DS_Store
